/* ========== TABLE COLUMNS BELOW 100PX ========== */
/* [data-block-id^='53ca36f7-c2b6-45dd-8313-099014d52ef1'] > [style^='display: flex; position: absolute; background: rgb(47, 52, 55); z-index: 82; height: 33px; color: rgba(255, 255, 255, 0.6);'] > div:nth-child(1) > div:nth-child(2) > div:nth-child(1),
[data-block-id^='53ca36f7-c2b6-45dd-8313-099014d52ef1'] > [style^='position: relative; min-width: calc(100% - 192px);'] > [data-block-id] > div:nth-child(2),
[data-block-id^='53ca36f7-c2b6-45dd-8313-099014d52ef1'] > div:nth-child(5) > div:nth-child(2) {
  width: 32px !important;
  text-align: center !important;
}
[data-block-id^='53ca36f7-c2b6-45dd-8313-099014d52ef1']
  [style^='position: absolute; top: 0px; left: 0px; pointer-events: none;']:not(.notion-presence-container) {
  display: none;
} */

/* ========== HIDE '+ NEW' BOARD ROW ========== */
.notion-board-group > div[role='button'][tabindex='0'] {
    display: none !important;
}

/* ========== HIDE THE '+ NEW' GALLERY BUTTON ========== */
.notion-gallery-view
  .notion-selectable.notion-collection_view-block
  > [role='button'],
.notion-gallery-view
  .notion-selectable.notion-collection_view_page-block
  > [role='button'] {
  display: none !important;
}

/* ========== BIGGER ICONS IN CALENDAR VIEW ========== */
.notion-calendar-view .notion-record-icon {
    width: 16px !important;
    height: 16px !important;
    margin-top: 0 !important;
}
    .notion-calendar-view .notion-record-icon * {
    width: 100% !important;
    height: 100% !important;
}